<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Login</title>

  <style>

   body{
    background-image: url('https://goodstock.photos/wp-content/uploads/sunset-clouds-sky-ocean.jpg');
    background-size: cover;
    text-align: center;
   }

   input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  
   }

   input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
   }

   input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   }

   input[type=submit]:hover {
    background-color: #45a049;
   }

  </style>
 </head>
 <body>
 <h1>Admin Login</h1>
 <form action = "/form_login" method="post">

 <table align ="center" cellspacing = "2" cellpadding = "13"  border = "10" width="700">

  <tr><td ><b>User Name</b></td><td><input type="text" name="username" required ></td></tr>
  <tr><td ><b>Password</b></td><td><input type="password" name="password" required></td></tr>

  <tr><td></td><td><input type="submit" value="Submit"></td></tr>
  
 </table>
 
 </form>

 <br><h1 style="color: saddlebrown;">{{info}}</h1>
 </body>

 </html>