<!DOCTYPE html>
 <html>
 <head>
   <title>delete record</title>

  <style>

   body{
   background-image: url('https://getwallpapers.com/wallpaper/full/f/2/8/672676.jpg');
   background-size: cover;
   text-align: center;
   font-weight: bold;
   font-size: larger;
  }

  a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
  background-color: red;
  }

  </style>

 </head>
 <body>
 <br><h1>{{msg}}</h1><br><br>
 <a href="/employee_info">View Employee Info</a>
 <a href="/admin_page">Go back to Admin Page</a>
 </body>
 </html> 