<!DOCTYPE html>
 <html>
 <head>
   <title>save details</title>

     <style>
         body{

             background-image: url('https://getwallpapers.com/wallpaper/full/f/2/8/672676.jpg');
             background-size: cover;
             text-align: center;
             font-weight: bold;
             font-size: larger;
         }

         a:link, a:visited {
             background-color: #f44336;
             color: white;
             padding: 14px 25px;
             text-align: center;
             text-decoration: none;
             display: inline-block;
         }

         a:hover, a:active {
             background-color: red;
         }

     </style>


 </head>
 <body>
  <br> <h1 style="color: whitesmoke;">{{msg}}</h1><br><br>
   <a href="/">HOME</a>

 </body>   
 </html>  
 