<!DOCTYPE html>
<html>
<head>
  <title>invalid record</title>

 <style>

  body{
  background-image: url('https://getwallpapers.com/wallpaper/full/7/b/1/1085609-simple-backgrounds-1920x1080-ipad-retina.jpg');
  background-size: cover;
  text-align: center;
  font-weight: bold;
  font-size: larger;
 }

 a:link, a:visited {
 background-color: #f44336;
 color: white;
 padding: 14px 25px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 }

 a:hover, a:active {
 background-color: red;
 }

 </style>

</head>
<body>
<br><h1>{{msg}}</h1><br><br>
<a href="/user_login">Back to Login Page</a>
<a href="/">Home</a>
</body>
</html>